.Infos {
    padding: 20px;
    margin: 50px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: #b4cdfe;
    border-radius: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
